<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <script src="https://shop-api.e-ncp.com/payments/ncp_pay.js"></script>
    <script type="text/javascript" src="https://stgstdpay.inicis.com/stdjs/INIStdPay.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <title> ShopbyPayment</title>
</head>
<body>
<span id="accessToken" th:utext="${accessToken}" hidden="hidden"></span>
<span id="clientId" th:utext="${clientId}" hidden="hidden"></span>
</body>
<script th:inline="javascript">

    /*<![CDATA[*/
    var paymentDataString = /*[[${jsonData}]]*/ {};
    var paymentData = JSON.parse(paymentDataString);
    /*]]>*/
    const createOrderSheetNo = paymentData.orderSheetNo;
    const payType = paymentData.payType;
    const pgType = paymentData.pgType;
    const orderTitle = paymentData.orderTitle;
    const subPayAmt = paymentData.subPayAmt;

    const receiverZipCd = paymentData.shippingAddress.receiverZipCd
    const receiverAddress = paymentData.shippingAddress.receiverAddress
    const receiverJibunAddress = paymentData.shippingAddress.receiverJibunAddress
    const receiverDetailAddress = paymentData.shippingAddress.receiverDetailAddress
    const receiverName = paymentData.shippingAddress.receiverName
    const addressName = paymentData.shippingAddress.addressName
    const receiverContact1 = paymentData.shippingAddress.receiverContact1

    const member = paymentData.member
    const ordererName = paymentData.orderer.ordererName
    const ordererEmail = paymentData.orderer.ordererEmail
    const ordererContact1 = paymentData.orderer.ordererContact1

    const accessToken = $("#accessToken").text();
    const clientId = $("#clientId").text();

    const bankCode = paymentData.bankAccountToDeposit.bankCode
    const bankAccount = paymentData.bankAccountToDeposit.bankAccount
    const bankDepositorName = paymentData.bankAccountToDeposit.bankDepositorName
    const deliveryMemo = paymentData.deliveryMemo

    const coupons = paymentData.coupons || null;
    const cartCouponIssueNo = coupons ? coupons.cartCouponIssueNo || 0 : 0;
    const promotionCode = coupons ? coupons.promotionCode || "" : "";
    const productCoupons = coupons
    && coupons.productCoupons
    && coupons.productCoupons.length > 0
        ? coupons.productCoupons[0] : null;

    let productNo, couponIssueNo;
    if (productCoupons !== null) {
        productNo = productCoupons.productNo;
        couponIssueNo = productCoupons.couponIssueNo;
    }

    const data = {
        "orderSheetNo": createOrderSheetNo,
        "shippingAddress": {
            "receiverZipCd": receiverZipCd,
            "receiverAddress": receiverAddress,
            "receiverJibunAddress": receiverJibunAddress,
            "receiverDetailAddress": receiverDetailAddress,
            "receiverName": receiverName,
            "addressName": addressName,
            "receiverContact1": receiverContact1,
        },
        "coupons": coupons !== null ? {
            "cartCouponIssueNo": cartCouponIssueNo,
            "promotionCode": promotionCode,
            "productCoupons": productCoupons !== null ? [
                {
                    "productNo": productNo,
                    "couponIssueNo": couponIssueNo
                }
            ] : null
        } : null,
        "member": true,
        "deliveryMemo": deliveryMemo,
        "orderer": {
            "ordererName": ordererName,
            "ordererEmail": ordererEmail,
            "ordererContact1": ordererContact1
        },
        "pgType": pgType,
        "payType": payType,
        "bankAccountToDeposit": {
            "bankCode": bankCode,
            "bankAccount": bankAccount,
            "bankDepositorName": bankDepositorName
        },
        "clientReturnUrl": "sampleroad://sucssess",
        "inAppYn": "Y",
        "extraData": {
            "appUrl": "sampleroad://" // 앱스키마명
        },
    };

    NCPPay.setConfiguration({
        'clientId': clientId, // shopby에서 발급받은 clientId
        'confirmUrl': 'sampleroad://sucssess', // 결과를 리턴받을 url
        'platform': 'MOBILE_WEB', // 'PC or MOBILE_WEB or AOS or IOS'
        'accessToken': accessToken // 로그인한 사람의 accessToken
    });

    NCPPay.reservation(data,
        function (rsp) {

        });
</script>


</html>
